<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href="style.css">
    <title>Document</title>
</head>
<body>     
    <div class="nav-bar"></div>

    <div id="app">
        <div class="product">
            <div class="product-image">
                <img v-bind:src="image" v-bind:href="link" alt="Product Image">
            </div>

            <div class="product-info">
                <h1>{{ product }}</h1>
                <!-- <p v-if="inventory > 10">In Stock</p>
                <p v-else-if="inventory <= 10 && inventory > 0">Almost Sold Out</p>
                <p v-else>Out of Stock</p>
                <span v-if="onSale">On Sale!</span> -->

                <p v-if="inStock"> In Stock</p>
                <p v-else
                   v-bind:class="{ lineThrough: !inStock }"> Out of Stock</p>

                <ul>
                    <li v-for="detail in details">
                        {{ detail }}
                    </li>
                </ul>

                <div v-for="variant in variants" 
                     v-bind:key="variant.variantId"
                     class="color-box"
                     v-bind:style="{ backgroundColor: variant.variantColor }" 
                     @mouseover="updateProduct(variant.variantImage)">
                </div>

                <button v-on:click="addToCart"  
                        v-bind:disabled="!inStock"
                        v-bind:class="{ disabledButton: !inStock }">Add to Cart</button>

                <button v-on:click="removeCart">Remove from Cart</button>

                <div class="cart">
                    <p>Cart ({{cart}})</p>
                </div>

            </div>
        </div>
    </div>

     <script src="https://unpkg.com/vue"></script>
     <script src="main.js"></script>
</body>
</html>
